/* global variables */
:root {
	--primary-cyan: hsl(179, 62%, 43%);
	--paler-cyan: hsl(179, 47%, 51%);
	--primary-yellow: hsl(71, 73%, 54%);
	--neutral-gray: hsl(204, 43%, 93%);
	--neutral-blue: hsl(218, 22%, 67%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
button {
	font-family: "Karla", sans-serif;
	font-size: 16px;
	color: var(--dark-blue);
}

/* visually hidden */
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* container styles */
.container {
	min-height: 100vh;
	padding: 2rem 2rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	background-color: var(--neutral-gray);
}

/* component styles */
.component {
	box-shadow: 3px 4px 40px 0px rgba(0, 81, 171, 0.1488);
	background-color: white;
	border-radius: 6px;
}

/* top-section styles */
.top {
	padding: 1.5rem;
}
h1 {
	color: var(--primary-cyan);
	font-size: 1.25rem;
	font-weight: 700;
	margin-top: 0.25rem;
	margin-bottom: 1.5rem;
}

h2 {
	line-height: 1.25;
	font-size: 1.15rem;
	font-weight: 700;
}

p {
	font-size: 1rem;
	line-height: 1.625;
	font-weight: 400;
	color: var(--neutral-blue);
}

p.guarantee {
	font-size: 1rem;
	color: var(--primary-yellow);
}

/* bottom-section styles */
.bottom {
	color: white;
}

.bottom p {
	color: white;
}

.subs {
	background-color: var(--primary-cyan);
	padding: 1.5rem;
}

.price {
	display: flex;
	font-size: 2rem;
	font-weight: 700;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}

.price span {
	font-size: 1rem;
	font-weight: 400;
	margin-left: 0.7rem;
}

p.access {
	margin-bottom: 1.5rem;
}

button {
	margin: 0 auto;
	width: 100%;
	max-width: 240px;
	padding: 1rem 0;
	background-color: var(--primary-yellow);
	border-radius: 6px;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	transition: all 300ms ease;
}

button:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	cursor: pointer;
}
.plus-points {
	padding: 1.5rem;
	background-color: var(--paler-cyan);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-top: 1rem;
	font-size: 0.9rem;
	line-height: 1.25;
}

/* wider screen styles */
@media only screen and (min-width: 750px) {
	.component {
		max-width: 635px;
		margin: 0 auto;
	}
	.bottom {
		display: flex;
	}
	.bottom > * {
		flex: 1 1 0;
	}
	h1 {
		font-size: 1.5rem;
	}
	p.guarantee {
		font-size: 1.1rem;
	}

	.top,
	.subs,
	.plus-points {
		padding: 2.5rem;
	}

	.top {
		padding-top: 2rem;
	}
	p.price {
		margin-top: 1.2rem;
	}
}
